{% extends "base.html" %}{% block content %}<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>latitude (deg)</th>
      <th>longitude (deg)</th>
      <th>approx-address</th>
      <th>img_source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>51.569947</td>
      <td>0.126940</td>
      <td>4 Birchdale Gardens, Romford RM6 4DT, UK</td>
      <td><img src='{{ url_for('static', filename='0.jpg') }}'></td>
    </tr>
    <tr>
      <th>1</th>
      <td>51.570006</td>
      <td>0.127187</td>
      <td>4 Birchdale Gardens, Romford RM6 4DT, UK</td>
      <td><img src='{{ url_for('static', filename='1.jpg') }}'></td>
    </tr>
    <tr>
      <th>2</th>
      <td>51.570071</td>
      <td>0.127421</td>
      <td>1060 High Rd, Romford RM6 4BB, UK</td>
      <td><img src='{{ url_for('static', filename='2.jpg') }}'></td>
    </tr>
    <tr>
      <th>3</th>
      <td>51.571975</td>
      <td>0.138829</td>
      <td>The Pinnacle, 156-162 High Rd, Dagenham, Romford RM6 6PN, UK</td>
      <td><img src='{{ url_for('static', filename='3.jpg') }}'></td>
    </tr>
    <tr>
      <th>4</th>
      <td>51.571964</td>
      <td>0.138699</td>
      <td>154 High Rd, Dagenham, Romford RM6 6NT, UK</td>
      <td><img src='{{ url_for('static', filename='4.jpg') }}'></td>
    </tr>
    <tr>
      <th>5</th>
      <td>51.569991</td>
      <td>0.127018</td>
      <td>4 Birchdale Gardens, Romford RM6 4DT, UK</td>
      <td><img src='{{ url_for('static', filename='5.jpg') }}'></td>
    </tr>
    <tr>
      <th>6</th>
      <td>51.570046</td>
      <td>0.127263</td>
      <td>Chadwell Arms, 1149 High Rd, Romford RM6 4AT, UK</td>
      <td><img src='{{ url_for('static', filename='6.jpg') }}'></td>
    </tr>
    <tr>
      <th>7</th>
      <td>51.570135</td>
      <td>0.127476</td>
      <td>1060 High Rd, Romford RM6 4BB, UK</td>
      <td><img src='{{ url_for('static', filename='7.jpg') }}'></td>
    </tr>
    <tr>
      <th>8</th>
      <td>51.565696</td>
      <td>0.145748</td>
      <td>126 Whalebone Ln S, Dagenham RM8 1BA, UK</td>
      <td><img src='{{ url_for('static', filename='8.jpg') }}'></td>
    </tr>
    <tr>
      <th>9</th>
      <td>51.565588</td>
      <td>0.145781</td>
      <td>126 Whalebone Ln S, Dagenham RM8 1BA, UK</td>
      <td><img src='{{ url_for('static', filename='9.jpg') }}'></td>
    </tr>
    <tr>
      <th>10</th>
      <td>51.565246</td>
      <td>0.145897</td>
      <td>110 Whalebone Ln S, Dagenham RM8 1BA, UK</td>
      <td><img src='{{ url_for('static', filename='10.jpg') }}'></td>
    </tr>
    <tr>
      <th>11</th>
      <td>51.565129</td>
      <td>0.145943</td>
      <td>104 Whalebone Ln S, Dagenham RM8 1BA, UK</td>
      <td><img src='{{ url_for('static', filename='11.jpg') }}'></td>
    </tr>
    <tr>
      <th>12</th>
      <td>51.556959</td>
      <td>0.188916</td>
      <td>235 Upper Rainham Rd, Hornchurch RM12 4EY, UK</td>
      <td><img src='{{ url_for('static', filename='12.jpg') }}'></td>
    </tr>
    <tr>
      <th>13</th>
      <td>51.556843</td>
      <td>0.188994</td>
      <td>235 Upper Rainham Rd, Hornchurch RM12 4EY, UK</td>
      <td><img src='{{ url_for('static', filename='13.jpg') }}'></td>
    </tr>
    <tr>
      <th>14</th>
      <td>51.538332</td>
      <td>0.165577</td>
      <td>12 Baynes Cres, Dagenham RM10 9AF, UK</td>
      <td><img src='{{ url_for('static', filename='14.jpg') }}'></td>
    </tr>
    <tr>
      <th>15</th>
      <td>51.538355</td>
      <td>0.165444</td>
      <td>Church Lane (Stop U), Dagenham RM10 9AF, UK</td>
      <td><img src='{{ url_for('static', filename='15.jpg') }}'></td>
    </tr>
    <tr>
      <th>16</th>
      <td>51.600787</td>
      <td>-0.016979</td>
      <td>Crooked Billet, London E17 5AQ, UK</td>
      <td><img src='{{ url_for('static', filename='16.jpg') }}'></td>
    </tr>
    <tr>
      <th>17</th>
      <td>51.600910</td>
      <td>-0.017069</td>
      <td>Crooked Billet, London E4 8SP, UK</td>
      <td><img src='{{ url_for('static', filename='17.jpg') }}'></td>
    </tr>
    <tr>
      <th>18</th>
      <td>51.633101</td>
      <td>-0.013460</td>
      <td>120 Mansfield Hill, London E4 7JS, UK</td>
      <td><img src='{{ url_for('static', filename='18.jpg') }}'></td>
    </tr>
    <tr>
      <th>19</th>
      <td>51.632915</td>
      <td>-0.013483</td>
      <td>Maida Avenue (Stop J), London E4 7JS, UK</td>
      <td><img src='{{ url_for('static', filename='19.jpg') }}'></td>
    </tr>
    <tr>
      <th>20</th>
      <td>51.632802</td>
      <td>-0.013528</td>
      <td>Maida Avenue (Stop J), London E4 7JS, UK</td>
      <td><img src='{{ url_for('static', filename='20.jpg') }}'></td>
    </tr>
    <tr>
      <th>21</th>
      <td>51.632689</td>
      <td>-0.013558</td>
      <td>101 College Gardens, London E4 7JT, UK</td>
      <td><img src='{{ url_for('static', filename='21.jpg') }}'></td>
    </tr>
    <tr>
      <th>22</th>
      <td>51.570024</td>
      <td>0.127147</td>
      <td>4 Birchdale Gardens, Romford RM6 4DT, UK</td>
      <td><img src='{{ url_for('static', filename='22.jpg') }}'></td>
    </tr>
    <tr>
      <th>23</th>
      <td>51.570087</td>
      <td>0.127415</td>
      <td>1060 High Rd, Romford RM6 4BB, UK</td>
      <td><img src='{{ url_for('static', filename='23.jpg') }}'></td>
    </tr>
    <tr>
      <th>24</th>
      <td>51.600681</td>
      <td>-0.016905</td>
      <td>JX2M+76 London, UK</td>
      <td><img src='{{ url_for('static', filename='24.jpg') }}'></td>
    </tr>
    <tr>
      <th>25</th>
      <td>51.600737</td>
      <td>-0.016939</td>
      <td>Crooked Billet, London E17 5AQ, UK</td>
      <td><img src='{{ url_for('static', filename='25.jpg') }}'></td>
    </tr>
    <tr>
      <th>26</th>
      <td>51.577083</td>
      <td>0.121903</td>
      <td>222 Chadwell Heath Ln, Romford RM6 4YL, UK</td>
      <td><img src='{{ url_for('static', filename='26.jpg') }}'></td>
    </tr>
    <tr>
      <th>27</th>
      <td>51.576984</td>
      <td>0.121967</td>
      <td>Grove Road Little Heath, Romford RM6 4XH, UK</td>
      <td><img src='{{ url_for('static', filename='27.jpg') }}'></td>
    </tr>
    <tr>
      <th>28</th>
      <td>51.568518</td>
      <td>0.118224</td>
      <td>2, 895 High Rd, Romford RM6 4HL, UK</td>
      <td><img src='{{ url_for('static', filename='28.jpg') }}'></td>
    </tr>
    <tr>
      <th>29</th>
      <td>51.568871</td>
      <td>0.117903</td>
      <td>Trafalgar House, 891 High Rd, Romford RM6 4HR, UK</td>
      <td><img src='{{ url_for('static', filename='29.jpg') }}'></td>
    </tr>
    <tr>
      <th>30</th>
      <td>51.569216</td>
      <td>0.117868</td>
      <td>30 Chadwell Ave, Romford RM6 4QH, UK</td>
      <td><img src='{{ url_for('static', filename='30.jpg') }}'></td>
    </tr>
    <tr>
      <th>31</th>
      <td>51.569230</td>
      <td>0.117856</td>
      <td>34a Chadwell Ave, Romford RM6 4QH, UK</td>
      <td><img src='{{ url_for('static', filename='31.jpg') }}'></td>
    </tr>
    <tr>
      <th>32</th>
      <td>51.569208</td>
      <td>0.117825</td>
      <td>30 Chadwell Ave, Romford RM6 4QH, UK</td>
      <td><img src='{{ url_for('static', filename='32.jpg') }}'></td>
    </tr>
  </tbody>
</table>{% endblock %}