{% extends "base.html" %}{% block content %}<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>latitude (deg)</th>
      <th>longitude (deg)</th>
      <th>approx-address</th>
      <th>img_source</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>51.569995</td>
      <td>0.126908</td>
      <td>1145 High Rd, Romford RM6 4AT, UK</td>
      <td><img src='{{ url_for('static', filename='0.jpg') }}'></td>
    </tr>
    <tr>
      <th>1</th>
      <td>51.570036</td>
      <td>0.127069</td>
      <td>Chadwell Arms, 1149 High Rd, Romford RM6 4AT, UK</td>
      <td><img src='{{ url_for('static', filename='1.jpg') }}'></td>
    </tr>
    <tr>
      <th>2</th>
      <td>51.565548</td>
      <td>0.145797</td>
      <td>126 Whalebone Ln S, Dagenham RM8 1BA, UK</td>
      <td><img src='{{ url_for('static', filename='2.jpg') }}'></td>
    </tr>
    <tr>
      <th>3</th>
      <td>51.561511</td>
      <td>0.147899</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='3.jpg') }}'></td>
    </tr>
    <tr>
      <th>4</th>
      <td>51.561506</td>
      <td>0.147903</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='4.jpg') }}'></td>
    </tr>
    <tr>
      <th>5</th>
      <td>51.561504</td>
      <td>0.147907</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='5.jpg') }}'></td>
    </tr>
    <tr>
      <th>6</th>
      <td>51.561502</td>
      <td>0.147909</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='6.jpg') }}'></td>
    </tr>
    <tr>
      <th>7</th>
      <td>51.561501</td>
      <td>0.147908</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='7.jpg') }}'></td>
    </tr>
    <tr>
      <th>8</th>
      <td>51.561505</td>
      <td>0.147903</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='8.jpg') }}'></td>
    </tr>
    <tr>
      <th>9</th>
      <td>51.561503</td>
      <td>0.147905</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='9.jpg') }}'></td>
    </tr>
    <tr>
      <th>10</th>
      <td>51.561502</td>
      <td>0.147907</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='10.jpg') }}'></td>
    </tr>
    <tr>
      <th>11</th>
      <td>51.561502</td>
      <td>0.147907</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='11.jpg') }}'></td>
    </tr>
    <tr>
      <th>12</th>
      <td>51.561501</td>
      <td>0.147908</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='12.jpg') }}'></td>
    </tr>
    <tr>
      <th>13</th>
      <td>51.561502</td>
      <td>0.147909</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='13.jpg') }}'></td>
    </tr>
    <tr>
      <th>14</th>
      <td>51.561496</td>
      <td>0.147912</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='14.jpg') }}'></td>
    </tr>
    <tr>
      <th>15</th>
      <td>51.561493</td>
      <td>0.147915</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='15.jpg') }}'></td>
    </tr>
    <tr>
      <th>16</th>
      <td>51.561488</td>
      <td>0.147920</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='16.jpg') }}'></td>
    </tr>
    <tr>
      <th>17</th>
      <td>51.561486</td>
      <td>0.147921</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='17.jpg') }}'></td>
    </tr>
    <tr>
      <th>18</th>
      <td>51.561488</td>
      <td>0.147919</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='18.jpg') }}'></td>
    </tr>
    <tr>
      <th>19</th>
      <td>51.561490</td>
      <td>0.147917</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='19.jpg') }}'></td>
    </tr>
    <tr>
      <th>20</th>
      <td>51.561490</td>
      <td>0.147917</td>
      <td>Meadway Court, Whalebone Ln S, Dagenham RM8 1AD, UK</td>
      <td><img src='{{ url_for('static', filename='20.jpg') }}'></td>
    </tr>
  </tbody>
</table>{% endblock %}